body, html {
 background-image: url('/css/img/glav.jpg');
 position: relative; 
 margin:0 0 0 0;
 padding:0 0 0 0;
 color: #000000; 
}
.pokesShiny { color: #afeeee;}
.pokesNwy { color: red;}
div.insideleft { 
 top:-60px;
 left: -200px;
 position: absolute;
}
div.insideright{
  position: absolute;
  top:-60px;
  right: -206px;
}

a:link {text-decoration:underline; color:#E4FAFD;}
a:active {text-decoration:underline; color:#E4FAFD;}
a:visited {text-decoration:underline; color:#E4FAFD;}
a:hover {text-decoration:none; color:#FFFFFF;}

#name_block{
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 16pt;
  color: #1E90FF;
}
/* Index  style */
.replaceTable {
  margin: 0px auto;
}
* {
 padding: 0; 
 margin: 0;
}
table.uptabl {
  background-image: url('/css/img/Phonama.png');
  background-repeat: repeat-y;
  background-position: center top;
  width: 915px;
  margin: 0px auto;
  position: relative;
  border: 0px;
  border-spacing: 0px;
  padding: 0px;
}

#child{
  background-image: url('/css/img/Phonama2.png') ; 
  position:absolute;
  width:100%;
  height:35%;
  top:0px;
  left:0px;
}


.someclass {
 overflow: auto;
 width: 675px;
}
 
 div.uptabl {

 width: 915px;
 margin: 30px auto 0px auto;
 position: relative;
 border: 0px;
 padding: 0px;
 height: 8px;
 }
 table.midtabl {
 background-image: url('/css/img/Phonama.png'); /* ???? ? ???????? ??????????? */
 background-repeat: repeat-y;
 background-position: center top; 
 width: 915px;
 margin: 0px auto;
 position: relative;
 border: 0px;
 }
 
 td.shapka-body {
 background-image: url('/css/img/glavnaja_shapka.png');
 background-repeat: repeat-y;
 background-position: center top; 
 width: 235px;
 height: 188px;
 position: relative;
 z-index: 600;
 }
 
div.footer {
 background: url('/css/img/0fba9674614b.png') no-repeat top center;
 width: 915px;
 margin: 0px auto;
 position: relative;
 border: 0px;
 height: 179px;
 width: 915px;
 }
  #newsDiv{
   min-height: 200px;
 }
 td.news {
 width: 675px;
 min-height: 800px;
 position: relative;
 vertical-align: top;
 padding: 10px;
 }
 
 td.block {
 width: 200px;
 position: relative;
 }
  
 tr.menu-container {
 height: 40px;
 }
  
 td.menu-container {
 position: relative;
 }
 
 div.menu {
 position: relative; 
 top: -8px; 
 left: 12%;
 height: 37px;
 z-index: 99;
 /*max-width: 473px;*/
 }
  div.menu2 {
 position: relative; 
 top: -8px; 
 left: 6%; 
 height: 37px;
 z-index: 99;
 /*max-width: 473px;*/
 }
 
 div.loli {
 position: absolute; 
 left: 20px; 
 }
 
 table.block-container {
 width: 194px;
 border-collapse: collapse;
 border: 0px;
 }
 
 div.big-block-container {
 width: 194px;
 position: relative;
 top: -50px;
 }

 td.menu {
 background-image: url('/css/img/Newser.png'); 
 background-repeat: no-repeat;
 width: 194px;
 height: 92px;
 }
 td.prof {
 background-image: url('/css/img/prof.png'); 
 background-repeat: no-repeat;
 width: 194px;
 height: 92px;

 }
 td.poll {
 background-image: url('/css/img/poll.png'); 
 background-repeat: no-repeat;
 width: 194px;
 height: 92px;
 }
 td.friend {
 background-image: url('/css/img/friend.png'); 
 background-repeat: no-repeat;
 width: 194px;
 height: 92px;
 }
 td.doska {
 background-image: url('/css/img/infotur.png');
 background-repeat: no-repeat;
 width: 194px;
 height: 92px;
 } 
 td.admin {
 background-image: url('/css/img/pochet.png'); 
 background-repeat: no-repeat;
 width: 194px;
 height: 92px;
 }
 td.minu {
 background-image: url('/css/img/minushat.png'); 
 background-repeat: no-repeat;
 width: 194px;
 height: 92px;
 }
 td.other {
 background-image: url('/css/img/other.png'); 
 background-repeat: no-repeat;
 width: 194px;
 height: 92px;
 }
 td.loltwo {
 background-image: url('/css/img/beer.png'); 
 background-repeat: repeat-y;
 width: 194px;
 padding: 5px;
 }
 td.lolfre {
 background-image: url('/css/img/lolfre.png'); 
 background-repeat: no-repeat;
 width: 194px;
 height: 16px;
 }

/* HMenu Start */
table.hmenu {
 border: 0px;
 border-collapse: collapse;
 border-spacing: 5px; 
 padding: 0px;
}
td.hmenu { 
 height: 32px;
 padding-left: 5px;
 background: url('/css/img/54274746.png') repeat-x center -5px; 
}
td.hmenu-left {
 background: url('/css/img/5de858ef587e.png') no-repeat; 
 width: 11px;
}
td.hmenu-right {
 background: url('/css/img/0ef01c8220ed.png') no-repeat;
 width: 11px;
}

#nav li:hover li:hover ul,
#nav li.jshover li.jshover ul {
 display: block;
}


#nav {padding:0; margin:0; list-style:none; height:32px; top: -4px; background:  repeat-x; position:relative; z-index:500; font-family:arial, verdana, sans-serif;}
#nav li.top {display:block; float:left; height:38px;}
#nav li a.top_link {display:block; float:left; height:35px; line-height:33px; color:#596179; text-decoration:none; font-size:11px; font-weight:bold; padding:0 0 0 9px; cursor:pointer; ;}
#nav li a.top_link span {float:left; display:block; padding:0 18px 0 9px; height:35px; background: url right top no-repeat;}
#nav li a.top_link span.down {float:left; display:block; padding:0 18px 0 9px; height:35px; background: url no-repeat right top;}
#nav li:hover a.top_link, 
#nav li.iehover a.top_link {color:#6c7693; cursor:pointer;}
#nav li:hover a.top_link span,
#nav li.iehover a.top_link span {cursor:pointer;}
#nav li:hover a.top_link span.down,
#nav li.iehover a.top_link span.down {cursor:pointer;}
#nav li:hover {position:relative; z-index:200; cursor:pointer;}
#nav li:hover ul.sub{left:1px; top:38px; background: #101115; padding:3px; border:1px solid #000; white-space:nowrap; width:150px; height:auto; z-index:300; cursor:pointer;}
#nav li:hover ul.sub li{display:block; height:20px; position:relative; float:left; width:148px; font-weight:normal; cursor:pointer;}
#nav li:hover ul.sub li a{display:block; font-size:11px; height:18px; width:148px; line-height:18px; text-indent:5px; color:#fff; text-decoration:none; cursor:pointer; border-bottom: 1px dotted #262931;}
#nav li ul.sub li a.fly{background:#014fcf 148px 6px no-repeat; cursor:pointer;}
#nav li:hover ul.sub li a:hover{background:#252830; color:#fff; cursor:pointer;}
#nav li:hover ul.sub li a.fly:hover{background:#014fcf 148px 6px no-repeat; color:#fff; cursor:pointer;}
#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{left:90px; top:-4px; background:#444; padding:3px; border:1px solid #222; white-space:nowrap; width:148px; z-index:400; height:auto;}
#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}
#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{background:#444 160px 6px no-repeat; color:#fff; border-color:#555;} 
#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{background:#444 160px 6px no-repeat; color:#fff; border-color:#444;} 
/* HMenu End */


.blockmenu { 
width: 180px; 
font: normal 12px Arial, Helvetica, sans-serif; 
text-align: left; 
margin: 0px;
padding: 0px;
margin: 3px auto;
} 
.blockmenu a:link, 
.blockmenu a:visited { 
color:#ffffff; 
text-decoration:none; 
padding-left:16px; 
line-height:17px; 
display: block;
font-weight:normal; 
background: url('/css/img/slafads.png') repeat-x; 
border: 1px solid #363a47;
text-align: left; 
} 
.blockmenu a:hover { 
color:#ffffff; 
text-decoration:none; 
padding-left:16px; 
line-height:17px; 
display:block; 
font-weight:normal; 
border: 1px solid #ff0000; 
background: #333333 url('/css/img/8.gif') no-repeat left center; 
text-align: left; 
}                      
   
/* General Style */ 
a:link {text-decoration:underline; color:#E4FAFD;}
a:active {text-decoration:underline; color:#E4FAFD;}
a:visited {text-decoration:underline; color:#E4FAFD;}
a:hover {text-decoration:none; color:#FFFFFF;}

td, body {font-family:verdana,arial,helvetica; font-size:8pt; color:#bbbbbb}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:verdana,arial,helvetica;}
.copy {font-size:7pt;}

a.noun:link {text-decoration:none; color:#E4FAFD}
a.noun:active {text-decoration:none; color:#E4FAFD}
a.noun:visited {text-decoration:none; color:#E4FAFD}
a.noun:hover {text-decoration:underline; color:#FFFFFF}
.mframe1 {padding:2 10 30 10px;}
hr {color:#464646;height:1px;}
label {cursor:pointer;cursor:hand}

 H1,H2,H3,H4 {color:#f5f5dc; text-align:center;}
 H1 {font-size:20pt;}
 H2 {font-size:13pt;}
 H3 {font-size:12pt;}
 H4 {font-size:10pt;}
 H5 {font-size:8pt;}
 
.menut0 {}
.menut {padding:2 3 3 15px;}
.mframe {padding:2 0 30 30px;}
.bannerTable {width:468;height:60;}

.menu1 {font-weight:bold;font-size:8pt;font-family:Arial,Sans-Serif;}
a.menu1:link {text-decoration:underline; color:#E4FAFD}
a.menu1:active {text-decoration:underline; color:#E4FAFD}
a.menu1:visited {text-decoration:underline; color:#E4FAFD}
a.menu1:hover {text-decoration:none; color:#FFFFFF}

#autorizeDiv{
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #ffffff;
  filter:alpha(opacity=80); 
  opacity:0.8; 
  -moz-opacity:0.8;
}
#techwork_over {
 opacity: 0.8;
 filter: alpha(opacity=60);
 background-color: #000; 
 display: block;
 position: fixed; left: 0; top:0;
 width: 100%;
 height: 100%;
 z-index: 99999;
}

#techwork 
{
 position: fixed; left: 43%; top: 55%;
 margin: -85px 0px 0px -205px;
 z-index: 100000;
 width: 500px;
 height: 200px;
 background: #4F4F4F;
 background: -webkit-gradient(linear, left top, left bottom, from(#B5B5B5), to(#4F4F4F));
 background: -o-linear-gradient(top, #B5B5B5, #4F4F4F);
 background: -moz-linear-gradient(top, #B5B5B5, #4F4F4F);
 background-position: center bottom;
 border: 1px solid #FFFAFA;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -khtml-border-radius: 5px;
 border-radius: 5px;
 overflow: hidden;
}
 #techwork .b-wrapper 
 {
  margin: 12px 10px 0px 10px;
 }
 #techwork .b-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #1a1a1a;
  margin-bottom: 10px;
 }
 #techwork .b-cont {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #101010; 
 }
/* End Index  style */
    
/* Post Form */   
.pollBut, .loginButton, .searchSbmFl, .commSbmFl, .signButton {
font-size:8pt;
background: #B5B5B5;
color:#2B2B30;
border:1px outset #B5B5B5;
}

input,textarea,select {
 vertical-align:middle; 
 font-size:10pt; 
 font-family:verdana,arial,helvetica;
}
.codeButtons {font-size:7pt;background: #2B2B30;color:#E4FAFD;border:1px outset #2B2B30;}
.codeCloseAll {font-size:7pt;background: #2B2B30;color:#E4FAFD;border:1px outset #2B2B30;font-weight:bold;}
.postNameFl,.postDescrFl {background:#0F0F13;border:1px solid #5B5C74;width:400px;color:#60606B;}
.postPollFl,.postQuestionFl {background:#0F0F13;border:1px solid #5B5C74;width:400px;color:#60606B;}
.postResultFl {background:#0F0F13;border:1px solid #5B5C74;width:50px;color:#60606B;}
.postAnswerFl {background:#0F0F13;border:1px solid #5B5C74;width:300px;color:#60606B;}
.postTextFl {background:#0F0F13;border:1px solid #5B5C74;width:550px;height:150px;color:#60606B;}
.postUserFl {background:#0F0F13;border:1px solid #5B5C74;width:300px;color:#60606B;}
.pollHelp {font-weight:normal;font-size:7pt;padding-top:3px;}
.smilesPart {padding-top:5px;text-align:center}
/* --------- */ 

/* bar */
#bar {
  background-color: #000;
  background-image: url('/css/img/crossed_stripes.png');
  padding-top: 6px;
  padding-left: 10%;
  padding-bottom: 8px;
  width: 100%;
  border: 1px solid #c0c0c0;
  margin:10 10 10 10; 
  position: fixed; 
  top: 0px;
  left: 0px;
  z-index: 900;
  font-weight: bold;
  color: #ffffff !important;
}
#panelMenu {
	background: #754c24;
	height: 45px;
	position: fixed;
	width: 100%;
	z-index: 899;
	display: none;
}
.menuButtom {
    top: 39px;
    padding-top: 10px;
    width: 130px;
    left: 30%;
    border: 1px solid #FFFAFA;
    margin:10 10 10 10;
    background-image: url('/css/img/60degree_gray.png'); 
    position: fixed; 
    height: 28px;
    z-index: 900;
}
#bar .formAut{
  color:#3f5f72;
  font-size:10pt;
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  margin-right: 6px;
}
#bar input[type="text"], #bar input[type="password"]{
  background-image: url('/css/img/white_carbon.png'); 
  color: #000 !important;
  font-weight: bold;
  font-size: 13px !important;
}   
#bar input[type="text"]:focus, #bar input[type="password"]:focus{
   border: 2px solid #ff0000;
   box-shadow: 0px 0px 10px #ff0000;
   -webkit-box-shadow: 0px 0px 10px #ff0000;
   -moz-box-shadow: 0px 0px 10px #ff0000;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}
#bar input[type="text"]:hover, #bar input[type="password"]:hover{
   border: 2px solid #ff0000;
   box-shadow: 0px 0px 10px #ff0000;
   -webkit-box-shadow: 0px 0px 10px #ff0000;
   -moz-box-shadow: 0px 0px 10px #ff0000;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}
#bar #confirmOk{
 color: #000 !important; 
}
#bar #confirmOk:hover{
 border: 1px solid #000;
 color: #808080 !important;
}
#bar td, body {font-family:Geneva, Arial, Helvetica, sans-serif; font-size:11pt; color:#fff;}

#bar .checAut:hover{
  background-color: #E6E6FA;
}
#autherror {
  position: fixed;
  background:#FFFFFF;
  border-bottom:1px solid #382e2c;
  width:100%;
  left:0;
  margin:10px 0px 0px 0px; 
  z-index:5002;  
  filter:alpha(opacity=80); 
  opacity:0.8; 
  -moz-opacity:0.8;
  color:#ff0000; 
  font-family: Arial;
  font-weight:bold;
  font-size:13px;
}
.btInp{
  background: #f6f8f9;
  background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9));
  background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
   padding: 1px;
   padding-left: 7px;
   padding-right: 7px;
   color: #000;
   margin: 2px;
   border: 1px solid #382e2c;
   filter:alpha(opacity=80); 
   opacity:0.9; 
  -moz-opacity:0.1;
  font-weight:bold;
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}
.btInp:hover{
   color: #808080;
   border: 1px solid #382e2c;
   opacity:1; 
  -moz-opacity:0.7;
   font-weight:bold;
   -moz-box-shadow: 0px 0px 8px #fff;
   -webkit-box-shadow: 0px 0px 8px #fff; 
   box-shadow: 0px 0px 8px #fff; 
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;  
}
/*---*/
/* Прочие */
p.regAutWindow{
  margin-top: 20px;
  border:2px solid #000;
  font-weight:bold;
  color:#f7f21a;
  padding:4px;
  -moz-box-shadow: 0 0 30px #c0c0c0;
  -webkit-box-shadow: 0 0 30px #c0c0c0; 
  box-shadow: 0 0 30px #c0c0c0; 
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
p.regAutError{
  margin-top:10px;
  border:2px solid #000;
  font-weight:bold;
  color:#ffc0cb;
  padding:4px;
  -moz-box-shadow: 0 0 30px #c0c0c0;
  -webkit-box-shadow: 0 0 30px #c0c0c0; 
  box-shadow: 0 0 30px #c0c0c0; 
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
p.regWindowOk{
  margin-top: 20px;
  background: #e8ffce;
  border:2px solid #83c954;
  font-weight:bold;
  color:#000;
  font-size:16px;
  padding:4px;
  -moz-box-shadow: 0 0 30px #c0c0c0;
  -webkit-box-shadow: 0 0 30px #c0c0c0; 
  box-shadow: 0 0 30px #c0c0c0; 
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
p.regWindowError{
  margin-top: 20px;
  background: #ffcece;
  border:2px solid #ff2400;
  font-weight:bold;
  font-size:16px;
  color:#000;
  padding:4px;
  -moz-box-shadow: 0 0 30px #c0c0c0;
  -webkit-box-shadow: 0 0 30px #c0c0c0; 
  box-shadow: 0 0 30px #c0c0c0; 
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
p.regWindowOk a:link    {text-decoration:underline; color:#4c3c18;}
p.regWindowOk a:active  {text-decoration:underline; color:#4c3c18;}
p.regWindowOk a:visited {text-decoration:underline; color:#4c3c18;}
p.regWindowOk a:hover   {text-decoration:none;      color:#560319;}

div.terminsPS{
  margin-top: 20px;
  background: #bbbbbb;
  border:2px solid #99958c;
  font-weight:bold;
  color:#000;
  font-size:16px;
  padding:4px;
  -moz-box-shadow: 0 0 30px #c0c0c0;
  -webkit-box-shadow: 0 0 30px #c0c0c0; 
  box-shadow: 0 0 30px #c0c0c0; 
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

div.newsgl{   
  background: #6d5b97;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#353535',GradientType=0 );
  border:1px solid #000;
  font-weight:bold;
  padding:  10px;
  margin: 5px;
  color: #fff;
  filter:alpha(opacity=90); 
  opacity:0.9; 
  -moz-opacity:0.9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

div.pokeDiv{    
    background: #505050;
    background: -moz-linear-gradient(top, #505050 0%, #808080 50%, #50505075be66 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#505050), color-stop(50%,#808080), color-stop(100%,#505050));
    background: -webkit-linear-gradient(top, #505050 0%, #808080 50%, #505050 100%);
    background: -o-linear-gradient(top, #505050 0%, #808080 50%, #505050 100%);
    background: -ms-linear-gradient(top, #505050 0%, #808080 50%, #505050 100%);
    background: linear-gradient(top, #505050 0%, #808080 50%, #505050 100%);
    border:1px solid #99958c;
    font-weight:bold;
    padding-left:  10px;
    margin: 2px;
    color: #fff;
    filter:alpha(opacity=90); 
    opacity:0.9; 
    -moz-opacity:0.9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    display:none;
    height:178px;
    width:483px;
}

.pokeDiv input,textarea,select {
 vertical-align:middle; 
 font-size:11px; 
 font-family:verdana,arial,helvetica;
 margin: 3px;
}
.pokeDiv input{
   background: #505050;
   color: #fff;
   padding: 1px;
}
div.pokeDivInf{
    background: #505050;
    background: -moz-linear-gradient(top, #505050 0%, #808080 50%, #505050 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#505050), color-stop(50%,#808080), color-stop(100%,#505050));
    background: -webkit-linear-gradient(top, #505050 0%, #808080 50%, #505050 100%);
    background: -o-linear-gradient(top, #505050 0%, #808080 50%, #505050 100%);
    background: -ms-linear-gradient(top, #505050 0%, #808080 50%, #505050 100%);
    background: linear-gradient(top, #505050 0%, #808080 50%, #505050 100%);
    border:1px solid #99958c;
    font-weight:bold;
    padding:  10px;
    margin: 2px;
    color: #fff;
    filter:alpha(opacity=90); 
    opacity:0.9; 
    -moz-opacity:0.9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.pokeDiv .trPokes{
  border:1px solid #bbbbbb; 
  width: 100%;
}
.pokeDiv td, submit{
  color: #fff;
}
.ulTermins{
  margin-left: 35px;
  padding:4px;
}
.ulTermins .liTermins{
    border:1px solid #000;
    margin-top: 3px;
    padding:4px;
    font-size:13px;
}
.startPokeImg{
  border:1px solid #000;
  box-shadow: 0 0 15px #c0c0c0;
  -moz--webkit-box-shadow: 0 0 15px #c0c0c0;
  -webkit--webkit-box-shadow: 0 0 15px #c0c0c0; 
  -webkit-box-shadow: 0 0 15px #c0c0c0; 
}
.avatarUsers{
  border:1px solid #000;
  box-shadow: 0 0 30px #c0c0c0;
  -moz--webkit-box-shadow: 0 0 30px #c0c0c0;
  -webkit--webkit-box-shadow: 0 0 30px #c0c0c0; 
  -webkit-box-shadow: 0 0 30px #c0c0c0; 
}
.nameEnergy{
  color:#e6e6fa;
  font-weight:bold;
}
b.EnergCount{
  border:1px solid #000;
  padding-left:2px;
  padding-right:2px;
  margin:1px;
}
div.startPoke{
 border: 2px solid #f4c430;
 font-weight:bold;
 padding: 3px;
 color: #ffcc00;
 width: 242px;
 margin: 0px;
 background: #000;
}
div.defaultPoke{
 border: 2px solid #fff;
 padding: 3px;
 color: #ffffff;
 background: #000;
}
div#allUsrs{
  color: #000;
}

div#allUsrs a{
  font-weight:bold;
  font-size:14px;
}
div#allUsrs a:link {text-decoration:none; color:#FFF;}
div#allUsrs a:active {text-decoration:none; color:#FFF;}
div#allUsrs a:visited {text-decoration:none; color:#FFF;}
div#allUsrs a:hover    {text-decoration:underline; color:#bbb;}


input#allUsers{
   border: 2px solid #000;
   font-weight:bold;
   width:250px;     
   height:20px;
}
input#allUsersSub{
   background: #2B2B30;
   border: 2px solid #FFf;
   height:20px;
   font-weight:bold;
   padding-bottom: 2px;
   padding-top: 2px;
   padding-left: 2px;
   padding-right: 2px;
   font-size:7pt;
   color:#E4FAFD;
}

.trAllUsers:hover{
 		background: #c0c0c0;		    
    background: -moz-linear-gradient(top, #708090 0%, #c0c0c0 50%, #708090 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#708090), color-stop(50%,#c0c0c0), color-stop(100%,#708090));
    background: -webkit-linear-gradient(top, #708090 0%, #c0c0c0 50%, #708090 100%);
    background: -o-linear-gradient(top, #708090 0%, #c0c0c0 50%, #708090 100%);
    background: -ms-linear-gradient(top, #708090 0%, #c0c0c0 50%, #708090 100%);
    background: linear-gradient(top, #708090 0%, #c0c0c0 50%, #708090 100%);
}
/* ----- */     